In [1]:
#Set Dependencies
import pandas as pd
import os

In [2]:
#Set CSV file path

space_track_boxscore = "../CSV_Input/space_track_boxscore.csv"

boxscore_df = pd.read_csv(space_track_boxscore)

boxscore_df.head()

,COUNTRY,SPADOC_CD,ORBITAL_TBA,ORBITAL_PAYLOAD_COUNT,ORBITAL_ROCKET_BODY_COUNT,ORBITAL_DEBRIS_COUNT,ORBITAL_TOTAL_COUNT,DECAYED_PAYLOAD_COUNT,DECAYED_ROCKET_BODY_COUNT,DECAYED_DEBRIS_COUNT,DECAYED_TOTAL_COUNT,COUNTRY_TOTAL
0,ALGERIA,ALG,0,6,0,0,6,0,0,0,0,6
1,ALL,ALL,138,6141,2247,13020,21546,3564,3942,17621,25127,46673
2,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,AB,0,14,0,0,14,1,0,0,1,15
3,ARGENTINA,ARGN,0,24,0,1,25,2,0,0,2,27
4,ASIASAT CORP,AC,0,8,0,0,8,0,0,0,0,8

In [3]:
country = boxscore_df["COUNTRY"]
orb_tba = boxscore_df["ORBITAL_TBA"]
orb_payload = boxscore_df["ORBITAL_PAYLOAD_COUNT"]
orb_rocket = boxscore_df["ORBITAL_ROCKET_BODY_COUNT"]
orb_debris = boxscore_df["ORBITAL_DEBRIS_COUNT"]
orb_total = boxscore_df["ORBITAL_TOTAL_COUNT"]


orbital_df = pd.DataFrame({"Country": country,
                           "Orbital TBA": orb_tba,
                           "Orbital Payload Count": orb_payload,
                           "Orbital Rock Body Count": orb_rocket,
                           "Orbital Debris Count": orb_debris,
                           "Orbital Total":orb_total})

orbital_df

,Country,Orbital TBA,Orbital Payload Count,Orbital Rock Body Count,Orbital Debris Count,Orbital Total
0,ALGERIA,0,6,0,0,6
1,ALL,138,6141,2247,13020,21546
2,ARAB SATELLITE COMMUNICATIONS ORGANIZATION,0,14,0,0,14
3,ARGENTINA,0,24,0,1,25
4,ASIASAT CORP,0,8,0,0,8
...,...,...,...,...,...,...
101,UNITED STATES OF AMERICA,16,2564,714,4228,7522
102,UNITED STATES/BRAZIL,0,1,0,0,1
103,URUGUAY,0,1,0,0,1
104,VENEZUELA,0,3,0,0,3
105,VIETNAM,0,3,0,0,3